<br>
<p-panel header="Usuário">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="field">
            <label for="float-input-invalid">Nome</label>
            <input id="float-input-invalid" 
                name="nome"
                type="text" 
                required="true"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                pInputText [(ngModel)]="usuario.nome"> 
        </div>
        <div class="field">        
            <label for="sobrenome">Sobrenome</label>    
            <input id="sobrenome" 
                name="sobrenome"
                type="text" 
                required="true"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                pInputText [(ngModel)]="usuario.sobrenome"> 
        </div>
        <div class="p-fluid grid formgrid">
            <div class="field col-12 md:col-4">
                <label for="cpf">CPF</label>          
                <p-inputMask 
                    inputId="cpf"
                    name="cpf"
                    [(ngModel)]="usuario.cpf" 
                    mask="999.999.999-99"
                    required="true"
                    #cpf="ngModel">
                </p-inputMask>
            </div>
            <div class="field col-12 md:col-4">
                <label for="dataNascimento">Data de Nascimento</label>
                <p-calendar
                    inputId="dataNascimento"
                    name="dataNascimento" 
                    [(ngModel)]="usuario.dataNascimento"
                    [showIcon]="true"
                    [touchUI]="true"
                    required="true"
                    #dataNascimento="ngModel">
                </p-calendar>            
            </div>
        </div>
        <button class="btn btn-primary" 
            type="submit"
            [disabled]="!f.valid">Cadastrar</button>
    </form>
</p-panel>

<br>

<div class="card">
<p-table #dt [value]="usuarios" [rows]="10" [paginator]="true"
        styleClass="p-datatable-striped"
        [globalFilterFields]="['nome','sobrenome','cpf','dataNascimento']" responsiveLayout="scroll"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Usuários</h5>
                <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                <th pSortableColumn="sobrenome">Sobrenome <p-sortIcon field="sobrenome"></p-sortIcon></th>
                <th pSortableColumn="cpf">CPF <p-sortIcon field="cpf"></p-sortIcon></th>
                <th pSortableColumn="dataNascimento">Data de Nascimento <p-sortIcon field="dataNascimento"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.sobrenome}}</td>
                <td>{{usuario.cpf}}</td>
                <td>{{usuario.dataNascimento | date:'yyyy-MM-dd'}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUsuario(usuario.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                No total há {{usuarios ? usuarios.length : 0 }} usuários.
            </div>
        </ng-template>
    </p-table>
</div>
  <div *ngIf="usuarios.length == 0 && !loading" class="alert alert-warning">Nenhum usuário encontrado.</div>
  <div *ngIf="error" class="alert alert-danger">
    <h1>Um Erro aconteceu</h1>
    <p>{{error.message}}</p>
  </div>

  <div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
