<p-dialog showHeader="false" [(visible)]="mensagem">
    {{mensagem}}
</p-dialog>
<div *ngIf="error" class="alert" [ngClass]="{'alert-danger': isUnexpectedError(), 'alert-warning': isBusinessError()}">
    <h1 *ngIf="isUnexpectedError()">Um Erro aconteceu</h1>
    <p>{{isUnexpectedError() ? "Verifique com o administrador, pois a API pode estar fora." + error.message :
        error.error.message}}</p>
</div>
<p-panel header="Dados do Cadastro">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="p-fluid grid p-4">
            <div class="field col-12 md:col-4">
                <div class="p-float-label">
                    <input id="nome" name="nome" type="text" required="true" pInputText [(ngModel)]="usuario.nome"
                        [ngClass]="nome.touched && nome.invalid ? 'ng-dirty ng-invalid mr-2' : ''" #nome="ngModel">
                    <label for="nome">Nome</label>
                </div>
                <small *ngIf="nome.touched && nome.invalid" id="sobrenome-help" class="p-error">O nome é
                    obrigatório.</small>
            </div>
            <div class="field col-12 md:col-4">
                <div class="p-float-label">
                    <input id="sobrenome" name="sobrenome" type="text" required="true" pInputText
                        [(ngModel)]="usuario.sobrenome"
                        [ngClass]="sobrenome.touched && sobrenome.invalid ? 'ng-dirty ng-invalid mr-2' : ''"
                        #sobrenome="ngModel">
                    <label for="sobrenome">Sobrenome</label>
                </div>
                <small *ngIf="sobrenome.touched && sobrenome.invalid" id="sobrenome-help" class="p-error">O sobrenome é
                    obrigatório.</small>
            </div>
            <div class="field col-12 md:col-4">
                <div class="p-float-label">
                    <p-inputMask id="cpf" inputId="cpf" name="cpf" [(ngModel)]="usuario.cpf" mask="999.999.999-99"
                        showClear="true" required="true" ariaRequired="true" aria-describedby="cpf-help"
                        [ngClass]="cpf.touched && cpf.invalid ? 'ng-dirty ng-invalid mr-2' : ''" #cpf="ngModel">
                    </p-inputMask>
                    <label for="cpf">CPF</label>
                </div>
                <small *ngIf="cpf.touched && cpf.invalid" id="cpf-help" class="p-error">O CPF é obrigatório.</small>
            </div>
            <div class="field col-12 md:col-4">
                <div class="p-float-label">
                    <p-calendar inputId="dataNascimento" name="dataNascimento" [(ngModel)]="usuario.dataNascimento"
                        [showIcon]="true" dateFormat="dd/mm/yyyy" aria-describedby="dataNascimento-help" appendTo="body"
                        required="true" showClear="true" dateFormat="dd/mm/yy"
                        [ngClass]="dataNascimento.touched && dataNascimento.invalid ? 'ng-dirty ng-invalid' : ''"
                        #dataNascimento="ngModel">
                    </p-calendar>
                    <label for="dataNascimento">Nascimento</label>
                </div>
                <small *ngIf="dataNascimento.touched && dataNascimento.invalid" id="dataNascimento-help"
                    class="p-error">A data de nascimento é obrigatória.</small>
            </div>
        </div>
        <p-button type="submit" [disabled]="f.invalid">Cadastrar</p-button>
    </form>
</p-panel>
<div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>
</div>