<br>
<p-panel header="Pedido">
    <form (ngSubmit)="onSubmit()" #f="ngForm">        
        <div class="p-fluid grid formgrid">
            <div class="field col-12 md:col-4">
                <div class="field">
                    <label for="data">Data do Pedido</label>
                    <p-calendar 
                        name="data"
                        inputId="data" [(ngModel)]="pedido.dataPedido">
                    </p-calendar>           
                </div>
            </div>
            <div class="field col-12 md:col-4">
                <div class="field">
                    <label for="usuario">Usuário</label>
                    <p-dropdown id="usuario" 
                        name="usuario"
                        [options]="usuarios" [(ngModel)]="pedido.pessoa"
                        optionLabel="label"
                        required="true"></p-dropdown>            
                </div>
            </div>
            <div class="field col-12 md:col-4">
                <div class="field">
                    <label for="produto">Produto</label>
                    <p-dropdown id="produto" 
                        name="produto"
                        [options]="produtos" [(ngModel)]="pedido.produto"
                        optionLabel="nome"
                        required="true"></p-dropdown>            
                </div>
            </div>            
            <div class="field col-12 md:col-4">
                <div class="field">
                    <label for="quantidade">Quantidade</label>
                    <p-inputNumber [(ngModel)]="pedido.quantidade" 
                        name="quantidade"mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="100">
                        </p-inputNumber>       
                </div>
            </div>
        </div>
        <div class="field col-12 md:col-4">
            <div class="field">
                <p-image name="image" src="{{pedido?.produto?.imageUrl}}"
                    height="450px"></p-image>
            </div>
        </div>
        <p-button type="submit" [disabled]="f.invalid">Pedir</p-button>
    </form>
</p-panel>

<div *ngIf="error" class="alert" [ngClass]="{'alert-danger': isUnexpectedError(), 'alert-warning': isBusinessError()}">
    <h1 *ngIf="isUnexpectedError()">Um Erro aconteceu</h1>
    <p>{{isUnexpectedError() ? "Verifique com o administrador, pois a API pode estar fora." + error.message : error.error}}</p>
  </div>
<br>