/* You can add global styles to this file, and also import other style files */
.navbar-brand {
    padding: 0 5px;
}

.rodape {
    width: 100%;
    position: fixed;
    bottom: 1.2em;  
    margin-left: 1.5em;
}